
$margin-left: 0.3rem;
$margin-right: 0.3rem;

.sy-train-1 {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: $margin-left;
  margin-right: $margin-right;
  background-size: 2rem 2rem;
  background-image: url('icon_4420.png');
}

.sy-earthquake {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: $margin-left;
  margin-right: $margin-right;
  background-size: 2.2rem 1.7rem;
  background-image: url('icon_4232.png');
}

.sy-external-link {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: $margin-left;
  margin-right: $margin-right;
  background-size: 1.7rem 1.7rem;
  background-image: url('icon_12517.png');
}

.sy-info {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: $margin-left;
  margin-right: $margin-right;
  background-size: 1.7rem 1.7rem;
  background-image: url('icon_21258.png');
}